<div class="d-flex  align-items-center  justify-content-center ">
  <div class=" align-items-center  justify-content-center ">
    align-items-center = vertical alignment
    justify-content-center = horizontal alignment
  </div>
</div>
