<!-- ======= Breadcrumbs ======= -->
<section  class="bg_wall  d-flex align-items-center justify-content-center " style="height: 400px;">
  <div class="align-items-center justify-content-center " >
    <h1 class="text-white display-2">
    </h2 >
  </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="standards" class="pricing section-bg">
  <div class="container" >
    <div class="section-title mt-5">
      <h2 class="mt-5">Expert Search</h2>
      <h5 class="display-6">
        <% if I18n.locale == :de %>
          Wir bevorzugen einen "One-Stop-Approach", eine durchgehende Betreuung unserer Kandidatinnen und Kandidaten von der Erstkontaktaufnahme bis zum Vertragsabschluss durch unsere Berater.
        <% end %>
        <% if I18n.locale == :en %>
          We prefer a “one-stop approach”, a continuous support of our candidates from the initial contact to the conclusion of the contract by our consultants.
        <% end %>
      </h5>
    </div>
    <% if I18n.locale == :de %>
      <p class="text-start mt-3">
        Auch wenn die Anzahl der Personen, die für Fachpositionen in Frage kommen, um ein vielfaches größer ist als im Executive Search, ist die Besetzung dieser Positionen keineswegs einfacher.
        Besetzungen von Fachpositionen sind herausfordernd, da IT- und Business-Professionals heute täglich Anfragen von Personalberatern erhalten. Der Schlüssel liegt darin, ihre Aufmerksamkeit zu gewinnen – mit einer relevanten und überzeugenden "Value Proposition", unmittelbar beim ersten Kontakt.
      </p>
      <p>
        Deshalb übernehmen bei uns nur erfahrene Berater den Erstkontakt. Sie kommunizieren auf Augenhöhe, können fachlich überzeugen und präsentieren sofort einen klaren Mehrwert. Unser Research-Team unterstützt die Identifikation geeigneter Talente, hat jedoch keinen direkten Kontakt mit den Kandidatinnen und Kandidaten.
      </p>
    <% end %>
    <% if I18n.locale == :en %>
      <p class="text-start mt-3">
        Even though the number of people eligible for specialist positions is many times greater than in executive search, filling these positions is by no means easier. This is due to the fact that IT and business professionals are flooded with executive seearch consultant inquiries on a daily basis.
      </p>
      <p>
        That's why we only use experienced consultants for the initial contact. They communicate on an equal footing, are professionally convincing and immediately present clear added value. Our research team supports the identification of suitable talent, but has no direct contact with the candidates.    
      </p>
    <% end %>
  </div>
</section>
<section id="skills" class="skills">
  <div class="container"  >
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center"  >
        <%= image_tag('woman_small1.png', class: "card-img-top"   ) %>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content"  >
        <h3 class="mt-5">
          <% if I18n.locale == :de %>
            Warum STEINMETZPARTNERS?
          <% end %>
          <% if I18n.locale == :en %>
            Why STEINMETZPARTNERS?
          <% end %>
        </h3>
        <p >
          <% if I18n.locale == :de %>
            Wir begleiten unsere Kandidatinnen und Kandidaten durch den gesamten Prozess, vom ersten Kontakt bis zum Vertragsabschluss, durchgehend betreut von unseren Beratern.
            Dank unserer eigenen praktischen Erfahrung kennen wir die Anforderungen an IT- und Business-  und Consulting-Professionals aus erster Hand. Wir haben oft selbst die Positionen ausgefüllt, die wir besetzen, oder haben zumindest Führungserfahrung in den entsprechenden Bereichen.
          <% end %>
          <% if I18n.locale == :en %>
            We accompany our candidates through the entire process, from the first contact to the conclusion of the contract, with continuous support from our consultants. Thanks to our own practical experience, we have first-hand knowledge of the requirements for IT, business and consulting professionals. We have often filled the positions we are recruiting for ourselves, or at least have management experience in the relevant areas.
          <% end %>
        </p>
        <p >
          <% if I18n.locale == :de %>
            Für die Kandidatenidentifikation setzen wir auf einen dreistufigen Prozess, der unseren umfangreichen Talent-Pool, soziale Netzwerke und Karriereportale sowie das Kontaktnetzwerk unserer Berater umfasst. So stellen wir sicher, dass nahezu 100 % der relevanten Kandidaten auf unserem “Radar” sind.
          <% end %>
          <% if I18n.locale == :en %>
            To identify candidates, we rely on a three-stage process that includes our extensive candidate pool, social networks and career portals as well as the contact network of our consultants. This ensures that almost 100% of relevant candidates are on our “radar”.
          <% end %>
        </p>
        <p>
          <% if I18n.locale == :de %>
            Durch den Zugriff auf unseren Pool von über 30.000 Sales-, IT-, Business- und Consulting-Professionals, die in den Branchen Informationstechnologie, Finanzdienstleistung sowie Management-, IT- und  Rechtsberatung tätig sind, sowie durch unsere langjährig aufgebauten Netzwerke erzielen wir schnell erstklassige Ergebnisse.
          <% end %>
          <% if I18n.locale == :en %>
            With access to our pool of over 30,000 sales, IT, business and consulting professionals working in the information technology, financial services, management, IT and legal consulting sectors, as well as our long-established networks, we quickly achieve first-class results. 
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Skills Section -->
<!-- End Services Section -->
