<!-- Begin Main Content -->
<div class="main-content">
  <section id="about" class="about">
    <div class="container"  >
      <div class="section-title mt-4">
        <h2><%= t(:imprint) %></h2>
      </div>
      <div class="row content">
        <div class="col-12 col-md-6 ">
          <% if I18n.locale == :en %>
            <p class="text-left mt-3">
              <strong>SteinmetzPartners GmbH & Co. KG </strong><br />
              Thorwaldsenplatz 1 <br />
              60596 Frankfurt am Main
            </p>
            <p class="text-left mt-3">
              Tel: +49 69 2601-6668 <br />
              Mail: info@steinmetzpartners.com
            </p>
            <p class="text-left mt-3">
              Register Court: Amtsgericht Frankfurt am Main <br />
              Register number: HRA 52821
            </p>
            <p class="text-left has-text-weight-bold is-size-6 mt-5 ">
              Personally liable partner of SteinmetzPartners GmbH & Co. KG 
            </p>
            <p class="text-left mt-3">
              <strong>SteinmetzPartners - Executive Consultants GmbH </strong><br />
              Thorwaldsenplatz 1 <br />
              60596 Frankfurt am Main
            </p>
            <p class="text-left mt-3">
              <strong> General Manager der SteinmetzPartners - Executive Consultants GmbH: </strong> <br />
              Sabine A. Steinmetz, Herbert K. Schmoll
            </p>
            <p class="text-left mt-3">
              Tel: +49 69 2601-6668 <br />
              eMail: info@steinmetzpartners.com
            </p>
            <p class="text-left mt-3 mb-5">
              Register Court: Amtsgericht Frankfurt am Main <br />
              Register number: HRB 85330
            </p>
          <% end %>
          <% if I18n.locale == :de %>
            <p class="text-left mt-3">
              <strong>SteinmetzPartners GmbH & Co. KG </strong><br />
              Thorwaldsenplatz 1 <br />
              60596 Frankfurt am Main
            </p>
            <p class="text-left mt-3">
              Tel: +49 69 2601-6668 <br />
              Mail: info@steinmetzpartners.com
            </p>
            <p class="text-left mt-3">
              Registergericht: Amtsgericht Frankfurt am Main <br />
              Registernummer: HRA 52821
            </p>
            <p class="text-left has-text-weight-bold is-size-6 mt-5 ">
              Persönlich haftende Gesellschafterin der SteinmetzPartners GmbH & Co. KG :
            </p>
            <p class="text-left mt-3">
              <strong>SteinmetzPartners - Executive Consultants GmbH </strong><br />
              Thorwaldsenplatz 1 <br />
              60596 Frankfurt am Main
            </p>
            <p class="text-left mt-3">
              <strong> Geschäftsführer der SteinmetzPartners - Executive Consultants GmbH: </strong> <br />
              Sabine A. Steinmetz, Herbert K. Schmoll
            </p>
            <p class="text-left mt-3">
              Tel: +49 69 2601-6668 <br />
              Mail: info@steinmetzpartners.com
            </p>
            <p class="text-left mt-3 mb-5">
              Registergericht: Amtsgericht Frankfurt am Main <br />
              Registernummer: HRB 85330
            </p>
          <% end %>
        </div>
        <div class="col-12 col-md-6 ">
          <% if I18n.locale == :en %>
            <p> Responsible for content according to §10 paragraph 3 MDSt.:</p>
            <p> <strong>SteinmetzPartners GmbH & Co. KG </strong> </p>
            <p class="mt-5"> <strong> Disclaimer: </strong> <br />
              We do not assume any responsibility or liability for the information on this
              website. Our goal is to provide current and accurate information. However, we cannot
              cannot guarantee that the information available on this website is actually up to date,
              comprehensive, complete or accurate.
            </p>
            <p class="mt-5">
              The information provided is of a general nature,
              which is not tailored to the specific needs of any particular person or company.
              In particular, it is not intended to provide advice.
            </p>
            <p class="mt-5">
              If this website refers to other websites, we cannot influence their content and cannot assume any
              influence the content of these websites and cannot accept any responsibility for them.
            </p>
            <hr />
            <p class="mt-5"> Please note our privacy policy.</p>
          <% end %>
          <% if I18n.locale == :de %>
            <p> Inhaltlich verantwortlich gemäß §10 Absatz 3 MDSt.:</p>
            <p> <strong>SteinmetzPartners GmbH & Co. KG </strong> </p>
            <p class="mt-5"> <strong> Haftungshinweise: </strong> <br />
              Wir übernehmen  keinerlei Verantwortung oder Haftung für die Angaben auf dieser
              Webseite. Unser Ziel ist es, aktuelle und genaue Informationen bereitzustellen. 
              Allerdings kann
              nicht garantiert werden, dass die auf dieser Webseite verfügbaren Angaben 
              tatsächlich aktuell, umfassend, komplett oder genau sind.
            </p>
            <p class="mt-5">
              Bei den bereitgestellten Informationen handelt es sich um solche allgemeiner Art,
              die nicht auf die besonderen Bedürfnisse bestimmter Personen oder Unternehmen abgestimmt sind.
              Insbesondere soll durch sie keine Beratung erfolgen.
            </p>
            <p class="mt-5">
              Sofern von dieser Webseite auf andere Webseiten verwiesen wird, können wir deren Inhalt nicht
              beeinflussen und für diesen auch keine Verantwortung übernehmen.
            </p>
            <hr />
            <p class="mt-5"> Bitte beachten Sie unsere Datenschutzerklärung.</p>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
