<body>
    <table>
        <tr>
            <td
                style="border-top: 1px solid silver; border-bottom: 1px solid silver;  font-family: 'Helvetica', 'Arial', sans-serif; color: #444444; background-color: #FAFAFA; vertical-align: top;">
                <p style="color:#000;  font-size:11px; margin: 2px; ">Mit freundlichen Grüßen | Best regards</p>
                <p style="color:#000;  font-size:11px; margin: 2px; font-weight: bold;">Herbert K. Schmoll</p>
                <p style="color:#000;  font-size:11px; margin: 2px; ">Geschäftsführender Gesellschafter | Managing
                    Partner</p>
                <p style="color:#000;  font-size:11px; margin: 2px; font-weight: bold;">SteinmetzPartners - Executive
                    Consultants GmbH</p>
                <p style="color:#000;  font-size:11px; margin: 5px 2px 2px 2px; ">eMail: <a
                        style="color: #1c7bc3; text-decoration: none;"
                        href="mailto: hks@steinmetzpartners.com">hks@steinmetzpartners.com</a> &nbsp; | &nbsp;

                    <a style="color: #1c7bc3;  font-size:11px; margin: 2px; text-decoration: none;"
                        href="tel:+49 (0)69 2601-6668" target="_blank">T: +49 (0)69 2601-6668</a> &nbsp; | &nbsp;
                    <a style="color: #1c7bc3;  font-size:11px; margin: 2px; text-decoration: none;"
                        href="tel: +49 (0)172 7693497" target="_blank">M: +49 (0)172 7693497</a>
                </p>
                <p style="color:#000; font-size:11px; margin: 5px 2px 2px 2px; "> Let's connect:
                    <a style="color: #000; text-decoration:none;" target="_blank"
                        href="https://www.xing.com/profile/HerbertK_Schmoll"><img
                            src="http://herbert-schmoll.de/assets/img/xing.png" alt="XING" /></a>&nbsp; &nbsp;
                    <a style="color: #000; text-decoration:none;" target="_blank"
                        href="https://www.linkedin.com/in/herbert-k-schmoll-65319715/"><img
                            src="http://herbert-schmoll.de/assets/img/linkedin.png" alt="LinkedIn" /></a>&nbsp;
                    &nbsp;
                </p>
            </td>
        </tr>
        <tr>
            <td>

                <a href="http://www.steinmetzpartners.com/index.html" target="_blank"><img
                        src="http://herbert-schmoll.de/assets/img/signatur.png" title="SteinmetzPartners"
                        alt="SteinmetzPartners" style="width: 300px; margin-bottom: 2px;" border="0"></a>

            </td>
        </tr>
        <tr>
            <td style="color:#000;  font-size:12px; margin: 2px; "  >
                <a href="www.steinmetzpartners.com" target="_blank">www.steinmetzpartners.com</a>
            </td>
        </tr>
        <tr>
            <td style="color:#000;  font-size:11px; margin: 2px; ">
                The content of this email is confidential and intended for the recipient specified in message only. It
                is strictly forbidden to share any part of this message with any third party, without a written consent
                of the sender. If you received this message by mistake, please reply to this message and follow with its
                deletion, so that we can ensure such a mistake does not occur in the future.
            </td>

        </tr>
    </table>
</body>