<!-- ======= Breadcrumbs ======= -->
<section  class="bg_recruiting d-flex align-items-center justify-content-center " style="height: 400px;">
  <div class="align-items-center justify-content-center " >
    <h1 class="text-primary display-2">
    </h2 >
  </div>
</section>
<!-- ======= Pricing Section ======= -->
<section id="principles" class="services section-bg">
  <div class="container"  >
    <div class="section-title mt-5">
      <h2 class="mt-5">
        <%= t(:principles) %>
      </h2>
    </div>
    <% if I18n.locale == :de %>
      <p class="text-start">
        In der Personalberatung bekommt man mehr persönliche Dokumente - Lebensläufe, Kompetenzprofile, Projektlisten, Zeugnisse - 
        anvertraut als in jedem anderen Beruf.  Folglich sollte es eine Selbstverständlichkeit sein,
        dass die Geschäftsführung Grundsätze definiert, die festlegen, wie  diese Unterlagen behandelt werden,
        unter welchen Bedingungen sie weitergegeben werden. Desweiteren muss es in der Personalberatung Grundsätze geben,
        die eine seriöse Zusammenarbeit mit Kunden gewährleisten. 
      </p>
    <% end %>
    <% if I18n.locale == :en %>
      <p class="text-start">
        In executive search, you are entrusted with more personal documents - CVs, skills profiles, project lists, 
        references - than in any other profession. It should therefore be a matter of course that the management 
        defines principles that determine how these documents are handled and under what conditions they are passed on. 
        Furthermore, there must be principles in personnel consulting that ensure serious cooperation with clients.
      </p>
    <% end %>
    <div class="row mt-3">
      <div class="col-lg-4 mt-4 mt-lg-0"  >
        <div class="icon-box">
          <h4><a href="#principles">
              <% if I18n.locale == :de %>
                Keine Parallel-Vorstellungen
              <% end %>
              <% if I18n.locale == :en %>
                No parallel presentations
              <% end %>
            </a></h4>
          <p>
            <% if I18n.locale == :de %>
              Die aufgrund eines Suchauftrags uns von unseren Kandidatinnen und Kandidaten 
              überlassenen Dokumente (CVs, Projektlisten, Zeugnisse etc.) legen 
              wir ausschließlich unserem jeweiligen Auftraggeber vor.
            <% end %>
            <% if I18n.locale == :en %>
              The documents (CVs, project lists, etc.) provided to us on the basis of a search order are 
              submitted  exclusively to our respective client.
            <% end %>
          </p>
          <p class= "mt-1">
            <% if I18n.locale == :de %>
              Parallel-Vorstellungen - das gleichzeitige Vorstellen einer Kandidatin / eines 
              Kandidaten bei mehreren Kunden - sind unseriös. Diese weit verbreitete Praxis lehnen wir ab. 
            <% end %>
            <% if I18n.locale == :en %>
              Parallel introductions - the simultaneous presentation of a candidate to several clients - are dubious. 
              We reject this widespread practice. 
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-lg-4"  >
        <div class="icon-box">
          <h4><a href="#principles">
              <% if I18n.locale == :de %>
                Vertraulichkeit
              <% end %>
              <% if I18n.locale == :en %>
                Confidentiality
              <% end %>
            </a></h4>
          <p>
            <% if I18n.locale == :de %>
              Wir behandeln Dokumente und persönliche Daten  von Kunden und Kandidaten selbstverständlich streng vertraulich, 
              halten uns bei der Datenspeicherung strikt an die Vorschriften der 
              Datenschutzgrundverordnung (DSGVO).
            <% end %>
            <% if I18n.locale == :en %>
              We treat documents and personal data of clients and candidates as strictly confidential and 
              adhere strictly to the provisions of the General Data Protection Regulation (GDPR) when storing data.
            <% end %>
          </p>
          <p>
            <% if I18n.locale == :de %>
              Dokumente unserer Kandidat:innen geben wir grundsätzlich nur mit Einverständnis 
              der Kandidatinnen  und Kandidaten an unsere Kunden weiter. 
            <% end %>
            <% if I18n.locale == :en %>
              We only pass on our candidates' documents to our clients with the candidate's consent. 
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0"  >
        <div class="icon-box">
          <h4><a href="#principles">
              <% if I18n.locale == :de %>
                Keine Kunden-Abwerbungen  
              <% end %>
              <% if I18n.locale == :en %>
                No solicitation from our clients
              <% end %>
            </a></h4>
          <p>
            <% if I18n.locale == :de %>
              Vermutlich kennen Sie das schon? 
              Ein Berater einer Beratungsgesellschaft  vermittelt Ihnen Kandidaten 
              und ein anderer Berater derselben Gesellschaft 
              nutzt die Kenntnis Ihrer Organisation, um  Ihre Mitarbeiter anzusprechen, um sie an seine Kunden zu vermitteln.
            <% end %>
            <% if I18n.locale == :en %>
              We reject the widespread practice of one consultant from a recruitment consultancy placing candidates 
              with his clients and another consultant from the same recruitment consultancy approaching 
              the employees of these clients in order to place them with his clients.
            <% end %>
          </p>
          <p>
            <% if I18n.locale == :de %>
              Diese Dreistigkeit lehnen wir ab. Unter keinen Umständen werden wir an Mitarbeiter unserer Kunden 
              herantreten, um sie an andere Unternehmen zu vermitteln. 
            <% end %>
            <% if I18n.locale == :en %>
              Under no circumstances will we approach our clients' employees to place them with other companies. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
