<main id="main">
  <div class="jb_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Janine Brüning</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Janinie Brüning
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 (0)89 79 03 11 80 
            <hr />
            <a href="mailto:jb@bp-personalberatung.de">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              jb@bp-personalberatung.de 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/janine-br%C3%BCning-7b4b0543/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Janine_Bruening2/portfolio" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">Partner Legal Consulting</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Janine Brüning ist unsere Ansprechpartnerin für Legal Positionen
            <% end %>
            <% if I18n.locale == :en %>
             Janine Brüning is our contact for legal positions
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Als bundesweit tätige Personalberaterin im juristischen Markt begleitet Janine Brüning Kanzleien, Unternehmen und Family Offices bei der Besetzung von Positionen mit Rechtsanwälten, Volljuristen und Steuerberatern – sowohl auf Experten- als auch auf Managementebene.
              Dank ihres Hintergrunds als Volljuristin sowie ihrer langjährigen Erfahrung in der Personalberatung steht sie für kompetente, vertrauensvolle und diskrete Beratung.
            <% end %>
            <% if I18n.locale == :en %>
             As a nationwide executive search consultant in the legal market, Janine Brüning supports law firms, 
             companies and family offices in filling positions with lawyers, fully qualified lawyers and 
             tax advisors - both at expert and management level. 
             Thanks to her background as a fully qualified lawyer and her many years of experience in 
            executive search, she stands for competent, trustworthy and discreet advice.
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
           Zu ihrem Mandantenkreis zählen neben Unternehmen, Family Offices und Großkanzleien auch spezialisierte Kanzleiboutiquen. 
           Auf der Kandidatenseite verfügt sie über ein aktives Netzwerk aus Nachwuchsjuristen und etablierten Berufsträgern.
            <% end %>
            <% if I18n.locale == :en %>
            Her clients include companies, family offices and large law firms as well as specialized boutique law firms. On the candidate side, she has an active network of junior lawyers and established professionals.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Um höchste Qualität zu gewährleisten, steht sie als zentrale Ansprechperson in sämtlichen 
              Projektphasen bei der juristischen Personalberatung und Personalvermittlung von Rechtsanwälten, 
              Juristen und Steuerberatern zur Verfügung.
            <% end %>
            <% if I18n.locale == :en %>
            In order to guarantee the highest quality, Janine is available as a central contact person in all project phases 
            of executive search consulting and recruitment of lawyers, legal experts and tax advisors.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Janine Brüning hat  hat Rechtswissenschaften an der Universität Bayreuth  studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Janine Brüning studied law at the University of Bayreuth.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
