<main id="main">
  <div class="js_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Jürgen Schibilski</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Jürgen Schibilski
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 170 7863250
            <hr />
            <a href="mailto:schwartz@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              schibilski@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/juergenschibilski/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Juergen_Schibilski" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle"> Partner</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Jürgen Schibilski ist Partner bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Jürgen Schibilski ist Partner bei SteinmetzPartners. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Er verfügt über eine besonders fundierte Expertise in der Besetzung von Sales- und Account-Management-Positionen 
              in der IT, weil er diese Funktionen selbst über etwa 15 Jahre bei IBM ausgeübt hat. Er hat bei IBM 
              in unterschiedlichen Positionen Führungserfahrung erworben, war u.a. als Client Director für das Geschäft 
              mit Volkswagen verantwortlich, einem der global größten IBM-Kunden.
            <% end %>
            <% if I18n.locale == :en %>
              He has particular expertise in filling sales and account management positions in IT, having held these roles himself for around 15 years at IBM. He gained management experience in various positions at IBM, including as Client Director responsible for business with Volkswagen, one of IBM's largest global customers. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Mit mehr als 10 Jahren Erfahrung bei PwC und IBM bringt er mit der Managementberatung einen zweiten 
              Kompetenzbereich mit, der es ihm ermöglicht, jede Position im Consulting Sector zu besetzen.
            <% end %>
            <% if I18n.locale == :en %>
              With more than 10 years of experience at PwC and IBM, he brings with him a second area of expertise in management consulting that enables him to fill any position in the consulting sector. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor seinem Eintritt bei SteinmetzPartners war Jürgen Schibilski als Sales Manager bei German Edge Cloud tätig.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners, Jürgen Schibilski worked as Sales Manager at German Edge Cloud. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Jürgen Schibilski ist Diplom-Wirtschaftsingenieur mit Abschluss an der Universität Hamburg.
            <% end %>
            <% if I18n.locale == :en %>
              Jürgen Schibilski holds a degree in industrial engineering from the University of Hamburg. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
