<main id="main">
  <div class="ts_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Thorsten Schwartz</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Thorsten Schwartz
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 170 7659480 
            <hr />
            <a href="mailto:schwartz@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              schwartz@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/thorsten-schwartz-053924/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Thorsten_Schwartz/cv" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle"> Partner</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Thorsten Schwartz ist Partner bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Thorsten Schwartz is a partner at SteinmetzPartners.
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Er verfügt über eine besonders fundierte Expertise in der Besetzung von Sales- und Accountmanagement 
              sowie salesnahen Positionen im IT Sektor, 
              weil er diese Funktionen selbst über viele Jahre bei global marktführenden Unternehmen ausgeübt hat.
            <% end %>
            <% if I18n.locale == :en %>
              He has particular expertise in filling sales and account management and sales-related positions in the IT sector, having held these positions himself for many years at leading global companies. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Er bringt jahrelange Erfahrung im Key-Account-Management für nationale und internationale Enterprise Kunden 
              primär aus den Branchen Automotive, Financial Services, Manufacturing und Public/Healthcare mit und hat 
              Geschäftsbereiche erfolgreich mit aufgebaut.
            <% end %>
            <% if I18n.locale == :en %>
              He has many years of experience in key account management for national and international enterprise customers, primarily in the automotive, financial services, manufacturing and public/healthcare sectors, and has successfully helped to build up business areas. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor seinem Eintritt als externer Partner bei SteinmetzPartners in 2017 war Thorsten Schwartz als Country 
              Manager für die Business Unit ISILON der EMC Deutschland GmbH mit Deutschland-weiter Verantwortung tätig 
              und Mitglied im deutschen Management Team. Seine Karriere hat er bei Siemens Nixdorf Informationssysteme 
              AG (heute Diebold Nixdorf) begonnen, wo er nach erfolgreichen Abschluß seines dualen Studiums zu Beginn 
              mehrere Jahre im Vertrieb für den genossenschaftlichen Finanzverbund tätig war.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners as an external partner in 2017, Thorsten Schwartz was Country Manager for the ISILON business unit of EMC Deutschland GmbH with Germany-wide responsibility and a member of the German management team. He began his career at Siemens Nixdorf Informationssysteme AG (now Diebold Nixdorf), where he worked in sales for the cooperative financial network for several years after successfully completing his dual studies. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Thorsten Schwartz ist Diplom-Betriebswirt (BA) und hat an der Berufsakademie- Stattliche Studienakademie- Mannheim studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Thorsten Schwartz holds a degree in business administration (BA) and studied at the Mannheim University of Cooperative Education. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
