<main id="main">
  <div class="yp_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px">  Yvonne Präschang</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Yvonne Präschang
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 177 5632486
            <hr />
            <a href="mailto:y.praeschang@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              y.praeschang@steinmetzpartners.com
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/yvonne-pr%C3%A4schang-424299194/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Yvonne_Praeschang/cv" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">
            <% if I18n.locale == :de %>
              Partnerin
            <% end %>
            <% if I18n.locale == :en %>
              Partner
            <% end %>
          </h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Yvonne Präschang ist Partnerin bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Yvonne Präschang is a partner at SteinmetzPartners. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Yvonne Präschang hat besondere Expertise in der Besetzung  von Consultants und Führungskräftenin der Managementberatung,
              weil sie diese Funktion über viele Jahre im Recruiting einer Beratungsgesellschaft der internationalen Top-Kategorie ausgeübt hat.
              Ihre Expertise ist besonders stark ausgeprägt bei der Besetzung  von Fach- und Führungs-Positionen im Customer und Service Management,
              im Supply Chain Management, in den Bereichen Finance, Controlling, Risk- und Compliance-Management.
            <% end %>
            <% if I18n.locale == :en %>
              Yvonne Präschang has particular expertise in the recruitment of consultants and executives in management consulting, having performed this function for many years in the recruitment department of a top international consulting firm. Her expertise is particularly strong in filling specialist and management positions in customer and service management, supply chain management, finance, controlling, risk and compliance management. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor ihrem Eintritt bei  SteinmetzPartners in 2022  war Yvonne Präschang  als Head Of Human Resources bei 
              der Digacon GmbH und davor als Senior Recruiting Consultant bei BearingPont tätig.
              Ihre Karriere  hat sie als Auditor bei der KPMG AG in Düsseldorf begonnen.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners in 2022, Yvonne Präschang worked as Head Of Human Resources at Digacon GmbH and before that as a Senior Recruiting Consultant at BearingPont. She started her career as an auditor at KPMG AG in Düsseldorf. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Yvonne Präschang  hat Wirtschaftswissenschaften an der Universität zu Köln studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Yvonne Präschang studied economics at the University of Cologne. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
