<main id="main">
  <div class="kw_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Kerstin Weidle</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Kerstin Weidle
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 171 5543539
            <hr />
            <a href="mailto:weidle@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              weidle@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/kerstin-weidle-497a2a127/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Kerstin_Weidle" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">
            <% if I18n.locale == :de %>
              Gesellschafterin / Partnerin
            <% end %>
            <% if I18n.locale == :en %>
              Partner
            <% end %>
          </h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Kerstin Weidle ist Gesellschafterin / Partnerin bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Kerstin Weidle is an associate / partner at SteinmetzPartners. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Kerstin Weidle ist spezialisiert auf die Besetzung von IT- und Management Consultants in den Sektoren IT- und Managementberatung.
              Ihre Expertise ist besonders stark ausgeprägt bei der Besetzung  von Positionen in der IT-Beratung,
              weil sie bei Bechtle, dem DACH-weit führenden  IT-Solution-Provider, über viele Jahre als Human Resources & Marketing Manager  
              Fach- und Führungs-Positionen besetzt  und Führungserfahrung in diesem Segment erworben hat. 
            <% end %>
            <% if I18n.locale == :en %>
              Kerstin Weidle specializes in the recruitment of IT and management consultants in the IT and management consulting sectors. Her expertise is particularly strong when it comes to filling positions in IT consulting, as she has been filling specialist and management positions as Human Resources & Marketing Manager at Bechtle, the leading IT solution provider in Germany, Austria and Switzerland, for many years and has gained management experience in this segment. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor ihrem Eintritt bei  SteinmetzPartners  war sie  als Leiterin Human Resources & Marketing bei 
              Bechtle tätig.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners, she was Head of Human Resources & Marketing at Bechtle. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
