<main id="main">
  <div class="os_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Olga Schwarz</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Olga Schwarz
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 151 56301161
            <hr />
            <a href="mailto:o.schwarz@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              o.schwarz@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/olga-schwarz-31ba6b22/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Olga_Schwarz16/cv" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">
            <% if I18n.locale == :de %>
              Gesellschafterin / Partnerin
            <% end %>
            <% if I18n.locale == :en %>
              Partner
            <% end %>
          </h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Olga Schwarz ist Gesellschafterin / Partnerin bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Olga Schwarz is an associate / partner at SteinmetzPartners.
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Olga Schwarz ist spezialisiert auf die Besetzung von Positionen in den  Bereichen Assistenz, Office Management, Finance und Human Resources im Schwerpunkt in den Branchen Finanzdienstleistung, Private Equity und Kanzleien. 
            <% end %>
            <% if I18n.locale == :en %>
              Olga Schwarz specializes in filling positions in the areas of assistance, office management and human resources in the banking & capital markets, private equity and law firm sectors. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Sie kann auf mehr als 15 Jahre Berufserfahrung im Executive Search zurückblicken und konnte sich in dieser Zeit einen großen  Talent-Pool von Teamassistenz bis Vorstandsassistenz oder HR Manager aufbauen.
            <% end %>
            <% if I18n.locale == :en %>
              She can look back on more than 15 years of professional experience in executive search and has been able to build up a large pool of candidates ranging from team assistants to executive assistants and HR managers during this time.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor ihrem Eintritt bei SteinmetzPartners im Jahr 2022 war sie als Senior Recruiter bei GKES - Gunnar Kühne Executive Search GmbH und davor als Recruitment Assistant bei Robert Half tätig. Ihre Karriere als Personalberaterin hat sie bei Banking Consult GmbH begonnen.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners in 2022, she worked as a Senior Recruiter at GKES - Gunnar Kühne Executive Search GmbH and before that as a Recruitment Assistant at Robert Half. She started her career as a recruitment consultant at Banking Consult GmbH.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Olga Schwarz  hat Gesellschaftswissenschaften an der Johann Wolfgang Goethe-Universität in Frankfurt/Main 
              studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Olga Schwarz studied social sciences at the Johann Wolfgang Goethe University in Frankfurt/Main. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
