<main id="main">
  <div class="ck_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Christian Kothe</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Christian Kothe
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 172 6915351
            <hr />
            <a href="mailto:kothe@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              kothe@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/christiankothe/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Christian_Kothe6/web_profiles" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">Senior Executive Search Consultant</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Christian Kothe - Ihr Ansprechpartner für Positionen im IT Vertrieb, in der Beratung und in der Banking IT
            <% end %>
            <% if I18n.locale == :en %>
              Christian Kothe - Your contact for positions in IT sales, consulting and banking IT
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Mit über 25 Jahren Erfahrung in leitenden Managementfunktionen bei SWIFT, einem weltweit führenden Anbieter von IT-Services im Bereich internationaler Zahlungsverkehr, verfügt Christian über ein tiefes Verständnis für die Besetzung von Positionen mit bankfachlichem Schwerpunkt in der Banking IT sowie in der IT- und Managementberatung.
            <% end %>
            <% if I18n.locale == :en %>
              With over 25 years of experience in senior management roles at SWIFT, a leading global provider of international payments IT services, Christian has a deep understanding of filling positions with a banking focus in banking IT and IT and management consulting.
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Er hat bei SWIFT mehr als 20 Jahre Managementverantwortung getragen, war als Geschäftsführer der deutschen SWIFT-Niederlassung 
              für das Geschäft von SWIFT in Deutschland, Schweiz und Ost-Europa verantwortlich. 
              Seine Karriere begann er bei Unternehmen wie Digital Equipment GmbH (heute Hewlett Packard), 
              wo er mehrere Jahre im Key Account Management und Marketing mit Fokus auf die 
              Finanzdienstleistungsbranche tätig war. 
              Damit bringt er auch ein tief gehendes Verständnis für die Besetzung von Vertriebs- und 
              Vertriebsmanagementpositionen bei IT-Unternehmen und IT-Beratungsgesellschaften  mit. 
            <% end %>
            <% if I18n.locale == :en %>
            He has held management responsibility at SWIFT for more than 20 years and was responsible for SWIFT's business in Germany, Switzerland and Eastern Europe as Managing Director of SWIFT's German branch. He began his career at companies such as Digital Equipment GmbH (now Hewlett Packard), where he worked for several years in key account management and marketing with a focus on the financial services industry. As a result, he also has a deep understanding of filling sales and sales management positions at IT companies and IT consulting firms.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Christian unterstützt Banken und Beratungsgesellschaften bei der Besetzung  Fach- und Führungspositionen mit IT- und bankfachlichem Schwerpunkt.
              Darüber hinaus begleitet er IT-Unternehmen und IT-Beratungen bei der Rekrutierung von Account Managers, Vertriebsspezialisten  und Führungspersönlichkeiten.
            <% end %>
            <% if I18n.locale == :en %>
             Christian supports banks and consulting companies in filling specialist and management positions with an IT and banking focus. He also assists IT companies and IT consultancies in the recruitment of account managers, sales specialists and executives.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
             Christian Kothe  hat Wirtschaftswissenschaften an der Ludwig-Maximilian-Universität München   studiert.
            <% end %>
            <% if I18n.locale == :en %>
               Christian Kothe studied economics at the Ludwig Maximilian University in Munich.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
