<main id="main">
  <div class="kl_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px">  Kareen Ludwig</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Kareen Ludwig
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 152 34112769
            <hr />
            <a href="mailto:ludwig@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              ludwig@steinmetzpartners.com
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/kareen-ludwig-a48823222/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Kareen_Ludwig2" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">
            <% if I18n.locale == :de %>
              Research
            <% end %>
            <% if I18n.locale == :en %>
              Partner
            <% end %>
          </h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Kareen Ludwig unterst체tzt uns im Research.
            <% end %>
            <% if I18n.locale == :en %>
              Kareen Ludwig supports us in research. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
            <% end %>
            <% if I18n.locale == :en %>
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor ihrem Eintritt bei  SteinmetzPartners in 2025  war Kareen Ludwig   als Senior Key Account Managerin
              bei AVANTGARDE Experts und davor in identischer Position  bei Allgeier Experts t채tig.
              Ihre Karriere  hat sie als im Recruiting  bei Robert Half  in M체nchen begonnen.
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners in 2025, Kareen Ludwig worked as a Senior Key Account Manager at AVANTGARDE Experts and before that in an identical position at Allgeier Experts. She started her career in recruiting at Robert Half in Munich.
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Kareen Ludwig  wurde bei der IHK in Stuttgart zur Fachwirtin f체r Werbung & Kommunikation ausgebildet.
            <% end %>
            <% if I18n.locale == :en %>
              Kareen Ludwig was trained at the IHK in Stuttgart as a specialist in advertising and communication.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
