<main id="main">
  <div class="hg_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Karl-Heinrich (Heiner) Gräb</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Karl-Heinrich (Heiner) Gräb
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 174 3129604
            <hr />
            <a href="mailto:hks@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              graeb@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/karl-heinrich-heiner-graeb-59721339/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.linkedin.com/in/karl-heinrich-heiner-graeb-59721339/" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">Partner</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Karl-Heinrich (Heiner) Gräb ist Partner bei SteinmetzPartners.
            <% end %>
            <% if I18n.locale == :en %>
              Karl-Heinrich (Heiner) Graeb is a partner at SteinmetzPartners. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Karl-Heinrich (Heiner) Gräb verfügt  über eine besonders fundierte Expertise in der Besetzung 
              von Vorstands- und Geschäftsführungspositionen in den Branchen Beratung, IT und Finanzdienstleistung.
              Er hat selbst Positionen dieser Kategorie ausgeübt, u. a. als Geschäftsführer 
              bei der heutigen Finanz Informatik, einem der europaweit größten 
              IT Service-Provider, der die IT Services für die gesamte Sparkassenfinanzgruppe bereitstellt. 
              Desweiteren hat er eine ausgezeichnete Expertise bei der Besetzung von Führungspositionen
              in der Managementberatung und bei der Besetzung von Sales-Management-Positionen im IT-Sector.
            <% end %>
            <% if I18n.locale == :en %>
              Karl-Heinrich (Heiner) Gräb has particular expertise in filling board and management positions in the consulting, IT and financial services sectors. He has held positions in this category himself, including as Managing Director at what is now Finanz Informatik, one of Europe's largest IT service providers, which provides IT services for the entire Sparkassenfinanzgruppe. He also has excellent expertise in filling management positions in management consulting and in filling sales management positions in the IT sector. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Tief gehende Expertise für Führungs-Positionen im Vertrieb hat er zuvor in Sales- und 
              Account-Management-Positionen bei Unternehmen wie IBM, Digital Equipment (heute HP) und 
              Nixdorf Computer (heute Diebold Nixdorf) erworben. 
            <% end %>
            <% if I18n.locale == :en %>
              He previously acquired in-depth expertise for management positions in sales in sales and account management positions at companies such as IBM, Digital Equipment (now HP) and Nixdorf Computer (now Diebold Nixdorf). 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor dem Eintritt bei SteinmetzPartners war Karl-Heinrich (Heiner) Gräb in verschiedenen Managementpositionen 
              mehr als 20 Jahre für BearingPoint tätig, einer Managementberatungsgesellschaft der 
              internationalen Top-Kategorie. Damit bringt er den perfekten Hintergrund für die Besetzung 
              von Führungspositionen in der Managementberatung mit. 
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners, Karl-Heinrich (Heiner) Gräb worked for more than 20 years in various management positions at BearingPoint, a top international management consultancy. This gives him the perfect background for filling management positions in management consulting. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Karl-Heinrich (Heiner) Gräb hat Wirtschaftswissenschaften in Siegen studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Karl-Heinrich (Heiner) Graeb studied economics in Siegen. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
