<main id="main">
  <div class="hs_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Herbert K. Schmoll</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Herbert K. Schmoll
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +49 172 7693497  
            <hr />
            <a href="mailto:hks@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              hks@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/herbert-k-schmoll-65319715/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/HerbertK_Schmoll/cv" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle">Geschäftsführender Gesellschafter / Managing Partner</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Herbert K. Schmoll ist Mitgründer und Geschäftsführer unserer Gesellschaft.
            <% end %>
            <% if I18n.locale == :en %>
              Herbert K. Schmoll is co-founder and managing director of our company.
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Herbert K. Schmoll  verfügt  über eine besonders fundierte Expertise in der Besetzung 
              von Sales- und Account Management-Positionen im IT Sector, weil er diese Funktionen selbst über viele Jahre 
              bei global marktführenden Unternehmen  ausgeübt hat. 
            <% end %>
            <% if I18n.locale == :en %>
              Herbert K. Schmoll has particularly well-founded expertise in filling sales and account management positions in the IT sector, having held these positions himself for many years at globally market-leading companies. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Darüber hinaus hat er mehr als 12 Jahre Erfahrung in der Besetzung von Fach- und Führungs-Positionen 
              in der Managementberatung, u. a. in Bereichen wie Kunden- und Service-Management, Supply-Chain-Management, 
              Finance, Risk- und Compliance-Management, Product Lifecycle Management, darüber hinaus auch in Bereichen wie
              Data Analytics, Data Management und Artificial Intelligence.  
              In allen diesen Bereichen besetzt er seit 2009 Positionen bei global führenden 
              Managementberatungsgesellschaften, u. a. auch bei einer BIG4.
            <% end %>
            <% if I18n.locale == :en %>
              In addition, he has more than 12 years of experience in filling specialist and management positions in management consulting, including in areas such as customer and service management, supply chain management, finance, risk and compliance management, product lifecycle management, as well as in areas such as data analytics, data management and artificial intelligence. He has held positions in all of these areas at leading global management consultancies since 2009, including at a BIG4 company. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor der Gründung von SteinmetzPartners in 2009  war Herbert K. Schmoll als
              Geschäftsführer für zwei Gesellschaften des ehemaligen Arbeitgeberpräsidenten Dr. Klaus Murmann tätig.
              Frühere Positionen waren außerdem: Sales Director Financial Services Deutschland und Sales 
              Director Manufacturing & Transportation Deutschland bei seinerzeit global führenden IT-Unternehmen 
              wie Sun Microsystems und Digital Equipment Corporation. Seine Karriere hat er bei IBM begonnen, wo er 
              10 Jahre Erfahrung im Software Engineering, im IT Consulting und im Key Account Management erworben hat.
            <% end %>
            <% if I18n.locale == :en %>
              Before founding SteinmetzPartners in 2009, Herbert K. Schmoll was Managing Director of two companies owned by former employer president Dr. Klaus Murmann. Former positions include Sales Director Financial Services Germany and Sales Director Manufacturing & Transportation Germany at leading global IT companies such as Sun Microsystems and Digital Equipment Corporation. He started his career at IBM, where he gained 10 years of experience in software engineering, IT consulting and key account management. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Herbert K. Schmoll hat Wirtschaftsingenieurwesen in Karlsruhe studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Herbert K. Schmoll studied industrial engineering in Karlsruhe. 
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
