<main id="main">
  <div class="jm_profile bg-secondary" style="height: 400px; margin-top: 10px;" >
    <div class="d-none d-lg-block text-end text-white me-5 " >
      <p class="display-6 " style="padding-top: 300px"> Jürgen Metzger</p>
    </div>
  </div>
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about"  >
    <div class="container">
      <div class="row content mt-5">
        <div class="col-12 col-lg-5 ">
          <div class="d-lg-none display-6 mb-3">
            Jürgen Metzger
            <hr />
          </div>
          <p class="text-left">
            <i class='bx bxs-phone bx-sm '></i>&nbsp;
            +41 78 743 81 50
            <hr />
            <a href="mailto:j.metzger@steinmetzpartners.com">
              <i class='bx bx-envelope bx-sm '></i> &nbsp;
              j.metzger@steinmetzpartners.com 
            </a>
            <hr />
            <a href="https://www.linkedin.com/in/juergenmetzger/" target="_blank">
              <i class='bx bxl-linkedin bx-sm ' ></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://www.xing.com/profile/Juergen_Metzger6/cv" target="_blank">
              <i class='bx bxl-xing bx-sm' ></i>
            </a>
            <hr />
          </p>
        </div>
        <div class="col-12 col-lg-7 ">
          <h3 class="subtitle"> Senior Executive Search Consultant</h3>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Jürgen Metzger - Ihr Ansprechpartner für Positionen im Vertrieb und in der Beratung in der Schweiz
            <% end %>
            <% if I18n.locale == :en %>
               Jürgen Metzger - Your contact for sales and consulting positions in Switzerland
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Jürgen Metzger ist spezialisiert auf Sales- und Account-Manager-Positionen im IT Sector.
              Dazu bringt er langjährige Vertriebsmanager-Erfahrung mit, die er bei Unternehmen wie 
              WhereNet Inc., Unisys GmbH und Cisco Systems erworben hat. 
            <% end %>
            <% if I18n.locale == :en %>
              Jürgen Metzger specializes in sales and account manager positions in the IT sector. He has many years of experience as a sales manager, which he gained at companies such as WhereNet Inc, Unisys GmbH and Cisco Systems. 
            <% end %>
          </p>
          <p class=" text-left">
            <% if I18n.locale == :de %>
              Ein weiteres Kompetenzgebiet ist die Managentberatung, in dem er seit einigen Jahren 
              erfolgreich Positionen bei einer global renommierten Beratungsesellschaft besetzt. 
            <% end %>
            <% if I18n.locale == :en %>
              Another area of expertise is management consulting, in which he has successfully held positions at a globally renowned consulting firm for several years. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Vor seinem Eintritt bei  SteinmetzPartners  war Jürgen Metzger in Zürich
              fünf Jahre als Geschäftsführer für ein Unternehmen aus dem IT Sector tätig. 
            <% end %>
            <% if I18n.locale == :en %>
              Before joining SteinmetzPartners, Jürgen Metzger worked in Zurich for five years as Managing Director for a company in the IT sector. 
            <% end %>
          </p>
          <p class="text-left mt-3">
            <% if I18n.locale == :de %>
              Jürgen Metzger hat  Business Administration in Esslingen studiert.
            <% end %>
            <% if I18n.locale == :en %>
              Jürgen Metzger studied Business Administration in Esslingen.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
