.hero1 {
  background: url("focus.png");
}

.hs_profile {
  background: url("HKS_quadrat.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.ts_profile {
  background: url("ts_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.os_profile {
  background: url("os_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.hg_profile {
  background: url("hg_400_trans.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.js_profile {
  background: url("js_quadrat_1.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.kw_profile {
  background: url("kw_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.mg_profile {
  background: url("mg_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.jm_profile {
  background: url("jm_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.yp_profile {
  background: url("yp_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.jb_profile {
  background: url("jb_base1.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.kl_profile {
  background: url("kl_quadrat_t.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_fsi {
  background: url("bank.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_fsi_small {
  background: url("bank_small.png");
  background-size: contain;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_itconsult {
  background: url("bg_programming.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_manconsult {
  background: url("bg_consulting.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_legalconsult {
  background: url("bg_legalconsult.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_it {
  background: url("bg_it.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_equity {
  background: url("bg_equity.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_recruiting {
  background: url("recruiting.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_header {
  background: url("business_woman.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_handshake {
  background: url("hands_flat.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_group {
  background: url("group_flat.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_wall {
  background: url("wall_flat.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_focus {
  background: url("focus_flat.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_ecb {
  background: url("bg_ecb.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bg_sky {
  background: url("townbanner.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url("business_man_queer.png") center no-repeat;
  background-size: cover;
}

img {
  display: inline-block;
}

.card-img-top {
  object-fit: cover; /* Zuschneiden des Bildes */
}
