
<% flash.each do |key, value| %>
  <div data-controller="notification" class="alert alert-<%= flash_type(key) %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>